@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url(responsive.css);
@import url(animation.css);

:root{
    --primary-color:#800000;
    --secondary-color:#0e0b30;
    --white-color:#fff;
    --black-color:#000;
    --hover-color:#E4D6A7;
    --kanoon-bg-clr:#fcf5ef;
    --base-color:#7a423f;
    --form-color:#f0e3d7;
    --form-text-color:#d58f76;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* |||HEADER STARTS||| */



.header-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9;
    width: 100%;
}
a{
    text-decoration: none;
}
.logo h2{
    color: var(--white-color);
    margin: 20px 0;
    font-family: 'Cinzel';
    font-size: 30px;
}
.head-nav-list{
    display: flex;
    list-style-type: none;
    margin: 20px 0;
}

.head-nav-list>li>a{
    color: var(--white-color);
    font-size: 17px;
    transition: 0.3s;
    position: relative;
    padding: 0 30px;
}
.head-nav-list>li>a::before{
    position: absolute;
    content: "";
    display: block;
    background-color: var(--hover-color);
    height: 1px;
    width: 0;
    top: 50%;
    left: -10px;
    transition: 0.3s;
}
.head-nav-list>li>a:hover::before{
    width: 30px;
}
.head-nav-list>li>a:hover{
    color: var(--hover-color);
}


/* |||HEADER ENDS||| */


/* |||BANNER STARTS||| */

.banner-bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-one{
    background-image: url(../images/banner-1.jpg);
}
.banner-two{
    background-image: url(../images/banner-2.jpg);
}
.banner-three{
    background-image: url(../images/banner-3.jpg);
}
.splide1{
    padding: 0;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-content>h1{
    font-family: 'El Messiri', sans-serif;
    font-size: 80px;
    color: var(--white-color);
    font-weight: 400;
    text-align: center;
}

.arrow-div {
    position: absolute;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    cursor: pointer;
    transition: 0.5s;
}

.circle:hover {
    background-color: var(--white-color);
}

.circle:hover>span {
    color: var(--secondary-color);
}

.circle>span {
    font-size: 20px;
    color: var(--white-color);
    text-align: center;
}


/* |||BANNER ENDS||| */


/* |||KANOON STARTS||| */


.kanoon-area{
    background-color: var(--kanoon-bg-clr);
    padding: 80px;
    text-align: center;
}
.kanoon-box{
    width: 45%;
    margin: 0 auto;
}
.kanoon-box>h4{
    margin-top: 0;
    color: var(--secondary-color);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}
.kanoon-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.kanoon-head>span{
    color: var(--primary-color);
    font-size: 50px;
}
.kanoon-head>h3{
    font-size: 45px;
    margin: 10px;
    color: var(--secondary-color);
}
.kanoon-box>p{
    color: var(--secondary-color);
    font-size: 15px;
    line-height: 2;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}


/* |||KANOON ENDS||| */


/* |||OFFER STARTS||| */



.offer-area{
    padding: 80px;
    background-image: url(../images/bare-act-bg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.offer-area>h3{
    color: var(--white-color);
    margin-top: 0;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 60px;
    font-family:'Cinzel';
    position: relative;
}
.offer-area>h3::after{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--hover-color);
    width: 100%;
    height: 2px;
    top: 80px;
}
.offer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    cursor: pointer;
    margin-top: 100px;
}
.offer-box{
    aspect-ratio: 1.5;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.offer-box:hover .border-box{
    /* transform: translate(0); */
}
.offer-one{
    background-image: url(../images/online.jpg);
}
.offer-two{
    background-image: url(../images/in-office.jpg);
}
.offer-three{
    background-image: url(../images/drafting.jpg);
}
.offer-four{
    background-image: url(../images/bare-act.jpg);
}
.offer-five{
    background-image: url(../images/websites.jpg);
}
.offer-six{
    background-image: url(../images/legal-news.jpg);
}
.maroon-box{
    background-color: var(--base-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.border-box{
    --offset: 45px;
    border: 1px solid var(--hover-color);
    text-align: center;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--offset));
    position: absolute;
    top: calc(var(--offset) / 2);
    left: calc(var(--offset) / 2);
    width: calc(100% - var(--offset));
    /* transform: translateY(50px); */
}
.border-box>p{
    font-size: 23px;
    color: var(--white-color);
}

/* |||OFFER ENDS||| */


/* |||SERVICE STARTS||| */


.service-area{
    background-color: var(--kanoon-bg-clr);
    padding: 80px 0;
    position: relative;
}
.service-area::before{
    position: absolute;
    content: "";
    background-image: url(../images/service_3_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.service-area::after{
    position: absolute;
    content: "";
    background-image: url(../images/service_2_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
}
.service-area > .design-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.service-area > .design-div::after{
    position: absolute;
    content: "";
    background-image: url(../images/service_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 100%;
    top: 150px;
    left: 0;
    pointer-events: none;
}
.service-area>h3{
    color: var(--secondary-color);
    margin-top: 0;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 60px;
    font-family:'Cinzel';
    position: relative;
}
.service-area>h3::after{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    width: calc(100% - 160px);
    left: 80px;
    height: 2px;
    top: 80px;
}
.service-box{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* .service-box::before{
    position: absolute;
    content: "";
    background-image: url(../images/service_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */
.service-box .splide__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 70px;
}
.white-box{
    background-color: var(--white-color);
    filter: drop-shadow(0 -2.5px 7.6px rgba(226, 200, 191, 0.2));
    padding: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.5;
    cursor: pointer;
}
.white-box:hover .hover-img{
    opacity: 1;
}
.white-box:hover .maroon-border{
    background-color: #743627b5;
    border: 1px solid var(--hover-color);
}
.white-box:hover .maroon-border>span{
    color: var(--hover-color);
}
.white-box:hover .maroon-border>span::before,
.white-box:hover .maroon-border>i::after{
    opacity: 1;
}
.white-box:hover .maroon-border>a{
    color: var(--white-color);
    text-decoration: 1px var(--hover-color) underline;
}
.white-box:hover .maroon-border>i{
    color: var(--hover-color);
}
.white-box:hover .maroon-border>h3{
    color: var(--white-color);
   
}
.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -2;
    transition: 0.5s all ease-in-out;
    /* object-fit: cover; */
}
.hover-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #884b44d4;
    height: 100%;
    width: 100%;
}
.hover-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.maroon-border{
    --offset: 30px;
    position: absolute;
    /* padding: 25px; */
    border: 1px solid var(--base-color);
    height: calc(100% - var(--offset));
    top: calc(var(--offset) / 2);
    left: calc(var(--offset) / 2);
    width: calc(100% - var(--offset));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s all ease-in-out;
}
/* .maroon-border *{
    display: none !important;
} */
.maroon-border>span{
    color: var(--primary-color);
    font-size: var(--icon-size, 55px);
    font-weight: 400;
    transition: 0.5s all ease-in-out;
    position: relative;
    /* display: flex; */
    /* z-index: 99; */
    /* background-color: #875046;
    border-radius: 50%; */
}
.maroon-border>span::before,
.maroon-border>i::after{
    content: "";
    background-color: #cd9389;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 0.5s 0.3s all ease-in-out;
    z-index: -1;
}
.maroon-border>i{
    color: var(--primary-color);
    font-size: 50px;
    transition: 0.5s all ease-in-out;
    position: relative;
}
.maroon-border>h3{
    color: var(--secondary-color);
    font-size: 20px;
    text-align: center;
    transition: 0.5s all ease-in-out;
    font-weight: 600;
}
.maroon-border>a{
    color: var(--primary-color);
    text-decoration: 1px var(--primary-color) underline;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s all ease-in-out;
}
.splide__pagination__page.is-active{
    background-color: var(--primary-color);
}
.splide__pagination__page:hover {
    background: var(--primary-color);
}



/* |||SERVICE ENDS||| */


/* |||CHOOSE STARTS||| */


.choose-area{
    background-color: var(--secondary-color);
    padding: 80px;
    display: flex;
    gap: 30px;
}
.choose-box{
    position: relative;
    width: 50%;
    position: relative;
    background-color: var(--base-color);
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.choose-box::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    pointer-events: none;
}
.choose-box>h5{
    margin-top: 0;
    color: var(--hover-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.choose-box>h3{
    color: var(--white-color);
    font-size: 35px;
    margin-top: 15px;
    font-family: 'Cinzel';
    margin-bottom: 15px;
}
.choose-box>ul{
    padding-left: 0;
    list-style-type: none;
}
.choose-box>ul>li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    color: var(--white-color);
    font-size: 17px;
}
.author{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.dash{
    background-color: var(--hover-color);
    height: 1px;
    width: 8%;
}
.author>p{
    font-size: 19px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 500;
}

.form-box{
    width: 50%;
    background-color: var(--kanoon-bg-clr);
    padding: 70px;
    padding-bottom: 40px;
}
.form-box>h5{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: var(--base-color);
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.form-box>h3{
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}
.form{
    margin: 0 auto;
    width: 60%;
}
form>input,
form>textarea,
form>button{
    border: none;
    outline: none;
    background-color: var(--form-color);
    padding: 20px;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-radius: 3px;
    color: var(--primary-color);
    resize: none;
    font-size: 15px;
}
form>input::placeholder,
form>textarea::placeholder{
    color: var(--form-text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form *{
    box-sizing: border-box;
}

form>button{
    width: 100%;
    background-color: var(--base-color);
    color: var(--white-color);
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
form>button:hover{
    background-color: var(--primary-color);
}
.form-box>p{
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 10px;
}
.form-box .line{
    display: block;
    background-color:var(--primary-color);
    flex-grow: 1;
    height: 1px;
}
.chat-box{
    margin: 0 auto;
    text-align: center;
}
.chat-box>a{
    color: var(--primary-color);
    display: block;
    margin: 20px 0;
    font-size: 25px;
}
.chat-box>a>i{
    font-size: 25px;
}




/* |||CHOOSE ENDS||| */


/* |||MAP STARTS||| */
.map-area{
    height: 400px;
}
.map-area iframe{
    filter: grayscale(20%) invert(100%) contrast(80%) hue-rotate(180deg);
}

/* |||MAP ENDS||| */


/* |||FOOTER STARTS||| */

footer{
    background-color: var(--secondary-color);
    position: relative;
    padding: 40px 0;
    padding-bottom: 0;
}
footer::before{
    background-image: url(../images/footer_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
}
footer>p{
    text-align: center;
    color: var(--white-color);
    margin-top: 30px;
    font-size: 14px;
    background-color: #08024d;
    padding: 25px;
    margin-bottom: 0;
}
footer>p>span,
footer>p>a{
    color: var(--form-text-color);
}
footer>p>a{
    font-style: italic;
}

.footer-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

footer .logo h2{
    margin-top: 0;
    margin-bottom: 5px;
}
.left-sec>h4{
    color: var(--hover-color);
    font-style: italic;
    font-weight: 400;
}
.left-sec>p{
    color: var(--kanoon-bg-clr);
    font-size: 14px;
    line-height: 17pt;
    font-weight: 100;
}
.icon-box{
    display: flex;
    gap: 20px;
    margin-top: 28px;
}
.icon-box>a{
    color: var(--white-color);
    font-size: 20px;
    position: relative;
    transition: 0.3s all;
}
.icon-box>a:hover{
    color: var(--form-text-color);
}
/* .icon-box>i::before{
    position: relative;
    z-index: 2;
}
.icon-box>i::before{
    content: "";
    height: 40px;
    width: 40px;
    background-color: var(--base-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
   
} */

.mid-sec,
.right-sec{
    margin: 0 auto;
}
.mid-sec>h3,
.right-sec>h3{
    margin-top: 0;
    color: var(--white-color);
    font-size: 22px;
}
.mid-sec>ul,
.right-sec>ul{
    padding-left: 0;
    list-style-type: none;
}
.mid-sec>ul>li{
    padding: 7px 0;
}
.mid-sec>ul>li>a{
    color: #c1c1c1;
}
.mid-sec>ul>li>a:hover{
    color: var(--form-text-color);
}
.right-sec>ul>li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    color: var(--white-color);
}
.right-sec>ul>li>i{
    color: var(--hover-color);
    font-size: 17px;
}
address{
    font-style: normal;
}
.right-sec>ul>li>a{
    color: var(--white-color);
}
.right-sec>ul>li>a:hover{
    color: var(--form-text-color);
}