@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

:root{
    --primary-color:#800000;
    --secondary-color:#0e0b30;
    --white-color:#fff;
    --black-color:#000;
    --hover-color:#E4D6A7;
    --kanoon-bg-clr:#fcf5ef;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* |||HEADER STARTS||| */



.header-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9;
    width: 100%;
}
a{
    text-decoration: none;
}
.logo h2{
    color: var(--white-color);
    margin: 20px 0;
    font-family: 'Cinzel';
    font-size: 30px;
}
.head-nav-list{
    display: flex;
    list-style-type: none;
    margin: 20px 0;
}

.head-nav-list>li>a{
    color: var(--white-color);
    font-size: 17px;
    transition: 0.3s;
    position: relative;
    padding: 0 30px;
}
.head-nav-list>li>a::before{
    position: absolute;
    content: "";
    display: block;
    background-color: var(--hover-color);
    height: 1px;
    width: 0;
    top: 50%;
    left: -10px;
    transition: 0.3s;
}
.head-nav-list>li>a:hover::before{
    width: 30px;
}
.head-nav-list>li>a:hover{
    color: var(--hover-color);
}


/* |||HEADER ENDS||| */


/* |||BANNER STARTS||| */

.banner-bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-one{
    background-image: url(../images/banner-1.jpg);
}
.banner-two{
    background-image: url(../images/banner-2.jpg);
}
.banner-three{
    background-image: url(../images/banner-3.jpg);
}
.splide1{
    padding: 0;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-content>h1{
    font-family: 'El Messiri', sans-serif;
    font-size: 80px;
    color: var(--white-color);
    font-weight: 400;
    text-align: center;
}

.arrow-div {
    position: absolute;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    cursor: pointer;
    transition: 0.5s;
}

.circle:hover {
    background-color: var(--white-color);
}

.circle:hover>span {
    color: var(--secondary-color);
}

.circle>span {
    font-size: 20px;
    color: var(--white-color);
    text-align: center;
}


/* |||BANNER ENDS||| */


/* |||KANOON STARTS||| */


.kanoon-area{
    background-color: var(--kanoon-bg-clr);
    padding: 80px;
    text-align: center;
}
.kanoon-box{
    width: 45%;
    margin: 0 auto;
}
.kanoon-box>h4{
    margin-top: 0;
    color: var(--secondary-color);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}
.kanoon-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.kanoon-head>span{
    color: var(--primary-color);
    font-size: 50px;
}
.kanoon-head>h3{
    font-size: 45px;
    margin: 10px;
    color: var(--secondary-color);
}
.kanoon-box>p{
    color: var(--secondary-color);
    font-size: 15px;
    line-height: 2;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}


/* |||KANOON ENDS||| */


/* |||OFFER STARTS||| */



.offer-area{
    padding: 80px;
    background-image: url(../images/bare-act-bg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.offer-area>h3{
    color: var(--white-color);
    margin-top: 0;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 60px;
    font-family:'Cinzel';
    position: relative;
}
.offer-area>h3::after{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--hover-color);
    width: 100%;
    height: 2px;
    top: 60px;
}
.offer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    cursor: pointer;
}
.offer-box{
    aspect-ratio: 1.5;
    background-size: cover;
    background-position: center;
    position: relative;
}
.offer-box:hover .maroon-box{
    visibility: visible;
    opacity: 0.9;
}
.offer-one{
    background-image: url(../images/online.jpg);
}
.offer-two{
    background-image: url(../images/in-office.jpg);
}
.offer-three{
    background-image: url(../images/drafting.jpg);
}
.offer-four{
    background-image: url(../images/bare-act.jpg);
}
.offer-five{
    background-image: url(../images/websites.jpg);
}
.offer-six{
    background-image: url(../images/legal-news.jpg);
}
.maroon-box{
    background-color: #7a423f;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.border-box{
    --offset: 45px;
    border: 1px solid var(--hover-color);
    text-align: center;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--offset));
    position: absolute;
    top: calc(var(--offset) / 2);
    left: calc(var(--offset) / 2);
    width: calc(100% - var(--offset));
}
.border-box>p{
    font-size: 20px;
    color: var(--white-color);
}